.About {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  color: #2f2f2f;
  animation: fadeIn 1s;
}
.heading-about {
  color: #2f2f2f
}

.image {
  width: 50vw;
  border: 2px solid #2f2f2f
}

.writing {
  padding: .5rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  color: #2f2f2f;

}

.about-line {
  margin-left: 3rem;
  margin-top: .5rem;
  text-align: left;
}

#first-line {
  font-weight: 600;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 600;
  transition: font-weight .3s ease
}

a:hover {
  font-weight: 800;
  transition: .3s;
  transform: .3s;
}

.label {
  font-weight: 600;
  color: gray;
}

@media (max-width: 840px) {
  .About {
    margin: 0;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .image {
    width: 90vw
  }
  .writing {
    width: 90vw;
  }
  .about-line {
    margin-left: 0;
  }
}

a {
  transition: .3s;
  transform: .3s;
}

#text-quote {
  font-weight: 600;
  font-size: 2rem;
  padding: .5rem
}