.Create-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  animation: fadeIn 1s;
}

.number-scroll {
  font-size: 2rem;
  justify-self: center;
  margin-top: 2vh;
  color: gray;
  transition: .3s;
}

.number-scroll:hover {
  font-weight: 600;
  cursor: pointer;
  color: #2f2f2f;;
}

.number-scroll:active {
  font-weight: 800;
}